body{
  margin: 0;
}



/* HEADER */
.header{
  height: 100px;
  width: 100%;
  display: flex;
}

.left{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle{
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.right{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.menu{
  display: none;
}

@media screen and (max-width: 1024px){
  .middle{
    display: none;
  }

  .sign{
    display: none;
  }

  .menu{
    display: block;
  }

  .right{
    justify-content: end;
    padding-right: 80px;
  }
}
/* HEADER */


/* PAGE 1 */
.page1{
  background: rgb(238, 242, 242);
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

.start{
  height: 400px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.end{
  height: 560px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.purpose{
  padding-right: 100px;
}


.learn-more{
  color: #004A43;
  background-color: #FFAD3D;
  border: none;
  border-radius: 10px;
  width: 380px;
  height: 65px;
  font-weight: bold;
  font-size: 21px;
  color: #004A43;
}

.image-holder{
  position: relative;
}

@media screen and (max-width: 1200px){

  .purpose{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .purp1{
    width: 400px;
  }

  .description{
    display: flex;
    justify-content: center;
  }

  .button{
    display: flex;
    justify-content: center;
  }

  .more-info{
    display: flex;
    justify-content: center;
  }
}
/* PAGE 1 */



/* PAGE 2 */
.page2{
  width: 100%;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.top{
  width: 900px;
  
}

.bottom{
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  
}

.first{
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second{
  margin-top: 20px;
  height: 400px;
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.sub-section{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
 
}
/* PAGE 2 */



/* PAGE 3 */
.page3{
  width: 100%;
  background: rgb(238, 242, 242);
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
  gap: 20px;
  overflow-x: hidden;

}

.name{
  display: flex;
  justify-content: center;
  
}

.card-holder{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;


}

.card{
  height: 470px;
  width: 490px;
  border-radius: 30px;
  background: white;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  
}

.image-holder{
  flex: 2;

}

.text-holder{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  gap: 15px;
}



@media screen and (max-width: 1024px){
  .large{
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 550px){
  .card{
    height: 420px;
    width: 450px;
  }

  .card-img{
    width: 100%;
    height: auto;
  }
}
/* PAGE 3 */



/* FOOTER */
.footer{
  padding-top: 40px;
  padding-bottom: 40px;
  background: #004A43;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.privacy{
  flex: 1;
  height: 200px;
  width: 200px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  margin-right: 40px;
}

.copmany-information{
  flex: 2;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
  flex-wrap: wrap;
  
}

.block{
  height: 150px;
  width: 170px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.support{
  margin-left: 20px;
}

.sm-pic-holder{
  display: flex;
  gap: 20px;
}


@media screen and (max-width: 1200px){
  .footer{
    flex-direction: column;
  }

  .privacy{
    justify-content: start;
    margin-bottom: 20px;
  }

  .copmany-information{
    margin: 0;
  }

  .support{
    margin: 0;
  }
}
/* FOOTER */




/* ANIMATION */
.click:hover{
  cursor: pointer;
  color: skyblue;
  font-size: 20px;
}

.sizeplus:hover{
  font-size: 25px;
}

button:hover{
  background:  #004A43;
  color: white;
}

.small-white:hover{
  text-decoration: underline;
  cursor: pointer;
}

.sm:hover{
  height: 60px;
  cursor: pointer;
}
/* ANIMATION */

